.playback-screen {
  width: 100%;
  .video-player {
    aspect-ratio: 9/6;
  }

  .info {
    padding: 16px;
    .title {
      font-weight: 500;
      line-height: 20px;
    }
    .video-name {
      font-weight: 500;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      width: 100%;
    }

    .channel-name {
      margin-top: 8px;
    }

    .views {
      color: rgba(0, 0, 0, 0.7);
      font-size: 12px;
      margin: 4px 0;
    }

    .avatar {
      width: 56px;
      height: 56px;
      border-radius: 28px;
      margin-right: 8px;
    }

    .row {
      display: flex;
      align-items: center;
    }
  }
}

@media (min-width: 1024px) {
  .playback-screen {
    width: 100%;
    .video-player {
      aspect-ratio: 16/9;
    }
  }
}

@media (min-width: 1440px) {
  .playback-screen {
    width: 100%;
    .video-player {
      aspect-ratio: 21/9;
    }
  }
}
